.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px; 
  height: 100vh; 
  background-color: #fff; 
  border-right: 1px solid #eee; 
  padding: 10px 0; 
  box-sizing: border-box；
}


.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin: 10px 0; 
  color: #333; 
  text-decoration: none; 
  transition: all 0.3s ease; 
  position: relative;
}

.sidebar-item::after {
      content: "";
      position: absolute;
      right: -80px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #000000;
      color: #fff;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 14px;
      opacity: 0; 
      transition: opacity 0.1s;
      white-space: nowrap;
    }
    
    .sidebar-item:hover::after {
      opacity: 0.5;
    }
    .pinterest-logo::after { content: "Pinterest";
     left: 40px;
    }
    .home-icon::after { content: "主页"; }
    .plus-icon::after { content: "创建"; }
    .bell-icon::after { content: "更新"; }
    .chat-icon::after { content: "信息"; }
    .setting-icon::after { content: "设置"; }

.sidebar-item:hover {
  background-color: #f0f0f0; 
}


.sidebar-item.pin {
  color: #f70328;
}


.spacer {
  flex-grow: 0.9; 
}


.sidebar-item i {
  font-size: 20px;
}

.sidebar {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
    }

.search-box {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 8px 12px;
      width: 75vw;
      margin-left: 5px;
      margin-top: 20px;

    }
        
.search-icon {
      color: #999;
      margin-right: 8px;
    }
    
.search-input {
      flex: 1; 
      border: none;
      outline: none;
      font-size: 14px;
    }
